.imageContainer {
  width: 30%;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: end;

}

.imageContainer:hover {
  transform: scale(1.1);
}


.image {
  width: 80%;
  height: auto;
  border-radius: 70%;
  border: 1px solid whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: start;
  justify-self: center;
  user-select: none;
  -webkit-user-drag: none;

}

.image:nth-child(1) {
  opacity: 1;
}

.image.active {
  opacity: 1;
}

@media (max-width: 768px) {

  .image {
    width: 100%;
  }
}

@media (max-width: 450px) {


  .imageContainer {
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .image {
    width: 80%;
  }


}



@media (max-width: 321px) {

  .imageContainer {
    flex: 1;
  }

}
