.container-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  margin: 20px auto;
  width: 80%;
}

h1 {
  font-size: 2rem;
}


.hab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  padding: 40px;
  background-color: #334155;
  border: 2px solid #fff;
  border-radius: 8%;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.25), 0 6px 6px rgba(255, 255, 255, 0.22);
}

.hab h1 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.hab p {
  text-align: center;
  font-size: 1.2;
}

@media (max-width: 1076px) {
  .container-all {
    flex-direction: column;

  }
}

@media (max-width: 430px) {
  .container-all {
    width: 100% !important;
  }



  .hab h1 {
    font-size: 1.1rem;
  }

  .hab p {
    font-size: 0.9rem;
  }
}

@media (max-width: 380px) {
  .hab p {
    font-size: 0.85rem;
  }
}
